body{
    margin: 0;
    padding: 0;
    background: rgb(129, 159, 173);
}
.container{
    position: absolute ;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 24px;
    background:rgb(37, 57, 66);
    height: 250px;
    width: 400px;
}
.container .btns{
    height: 15%;
}
.container .btns button{
    height: 60px;
    font-size: x-large;
    padding-top: 10px 16px;
    outline: none;
    border: none;
    background: rgb(68, 4, 52);
    color:white;
    margin-left: 10px;
    border-radius: 10px;
    width: 70px;
}
.container .btns #bt1:focus{
    background-color: green;
    color: white;
}
.container .btns #bt2:focus{
    background-color: red;
    color: white;
}
.container .btns #bt3:focus{
    background-color: rgb(255, 255, 0);
    color: black;
}
.container .speed select{
    width: 100px;
}
.audio{
    display: none;
}